<html>
<head>
    <title>
        <%= typeof title !== 'undefined' ? title : 'Default' %>
    </title>
    <link rel ="stylesheet" type = "text/css" href="/styling.css"/>
</head>
<body>
<h1>Advent of Code 2022</h1> <!--TODO: add home button and next day button-->
