<%- include('./partials/header', { title: "AoC 2022" }); %>

<% for( let day = 0; day < days.length; day++ ) { %>
    <p><a href="/day/<%= day+1 %>">Day <%= day+1 %></a></p>
<% } %>

<%- include('./partials/footer'); %>